body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  background-color: #000
  
a
  color: #00B7FF

#time
  width: 100px
  display: inline

// TODO: Add media query for mobile
#tube-container
  width: 100%
  height: 100%

#div-controls, #div-debug
  background-color: #e4e4e4
