extends layout

block content
  h1= title
  h2 Try some videos:
  ul
    li 
      a(href="/_72qXg5XlW8") [Glitch Hop / 110BPM] - Stephen Walking - Pizza Planet [Monstercat Release] 
    li
      a(href="9O5KkregjJw") Boston Dynamics: Wildcat - Electronic Cat 
    li
      a(href="5N0Balj2tLw") The Atomic Cannon Devastation! Full HD!!! 