extends layout

block content
  div(class="row-fluid")
    div(class="col-md-8")
      div(id="tube-container")
        div(id="iframe-placeholder")

    div(class="col-md-4")
      div(id="div-controls")
        h3 Controls
        input(id="video-id" type="hidden" value= video)
        input(id="time" type="range" step="1" min=0 max=100)
        br
        button(class="btn btn-primary" id="btn-play") Play
        button(class="btn btn-info" id="btn-pause") Pause

        h3 Status
        table(class="table")
          tr
            td Position
            td(id="table-position")

          tr
            td Length
            td(id="table-length")

          tr
            td Volume
            td(id="table-volume")

        h3 Debug
        table(class="table")
          tr
            td My ID
            td(id="table-myid")

          tr
            td Peers
            td(id="table-peers")

block javascripts
  script(src='/javascripts/webrtc.io.js')
  script(src='/javascripts/video.js')