extends layout

block content
  div(id="controls-wrapper")
    div(id="div-controls" class="")
      input(id="video-id" type="hidden" value= video)
      input(id="time" type="range" step="1" min=0 max=100 class="" )
      
      button(class="btn btn-primary" id="btn-play")
        span(class="glyphicon glyphicon-play")

      button(class="btn btn-primary" id="btn-split")
        span(class="glyphicon glyphicon-th-large")

      a(href="#" id="hidden-toggle") [Debug]
    
    div(id="hidden-wrapper")
      div(id="div-debug" class="")
        h3 Debug

        table(class="table")
          tr
            td Position
            td(id="table-position")

          tr
            td Length
            td(id="table-length")

          tr
            td Volume
            td(id="table-volume")

          tr
            td My ID
            td(id="table-myid")

          tr
            td Peers
            td(id="table-peers")
  
  div(id="hidden-video")
    div(id="iframe-placeholder")
      p Loading...
  
  div(id="video-container")
    canvas(id="video-canvas")

block javascripts
  script(src="/javascripts/webrtc.io.js")
  script(src='/javascripts/video.js')
